{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Teste</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <center>
            <h2>{{ curso }}</h2>
            <h1>HOME</h1>
            <p>{{ outro }}</p>

            <table>
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Preço</th>
             
                    </tr>
                </thead>
                <tbody>
                    {% for produto in produtos %}
                    <tr>
                        <td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
                        <td>{{ produto.preco }}</td>
                      
                    </tr>
                        
                    {% endfor %}
                </tbody>
            </table>

            <button onclick="teste()">Clica jovem</button>
        </center>
        
        <script src="{% static 'js/scripts.js' %}" async defer></script>
    </body>
</html>